:root {
  --base-font-size: 1.5em;
  --h1-font-size: calc(var(--base-font-size) * 2);
  --h2-font-size: calc(var(--base-font-size) * 1.3);
  --font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Dit is de structuur en de layout van de site waar de text gelezen wordt*/
body {
  background-color: rgb(24, 24, 24);
  color: yellow;

  main {
    display: flex;
    height: 100vh;
  }
}

/* Dit is de linker kant */
.texts {
  height: 100%;
  width: 60vw;
  overflow-y: scroll;

  article {
    margin: 4em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    max-width: 80%;
    height: 100%;
    justify-self: center;

    font-family: inter;
    line-height: 1.6em;

    .book-chapter {
      margin-bottom: 1em;
      font-size: var(--h1-font-size);
      font-weight: calc(var(--font-weight) + 300);
    }

    .heading {
      margin-bottom: 1em;
      font-size: var(--h2-font-size);
      font-weight: calc(var(--font-weight) + 200);
    }

    .sentence-number {
      position: absolute;
      vertical-align: baseline;
      display: flex;
      justify-content: center;
      align-items: center;
      left: -3em;
      width: 2em;
      /* height: 1.5em; */
      font-size: calc(var(--base-font-size) * 0.5);
    }

    .sentence {
      position: relative;
      margin: 0;
      padding: 0.5em;
      line-height: 1.7em;
      font-size: var(--base-font-size);
      font-weight: var(--font-weight);
      position: relative;

      input {
        appearance: none;
        border: none;
        inset: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        position: absolute;
      }

      &:has(input:checked) label {
        background-color: rgb(255, 0, 0);
        color: black;

        .sentence-number {
          color: red;
        }
      }

      &:focus-within {
        .sentence-number {
          color: black;
          background-color: yellow;
        }
      }
    }
  }
}

/* Dit is de rechter kant van de website waar notities gemaakt worden */
.notities {
  border: 1px solid rgb(131, 131, 131);
  background-color: rgb(33, 33, 33);
  width: 40vw;
  margin: 2em;
  border-radius: 1em;

  h2 {
    font-family: inter;
    font-size: var(--h2-font-size);
    font-weight: calc(var(--font-weight) + 200);
    margin: 1em;
  }
}
